* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #121421;
}

html {
    scroll-behavior: smooth;
}

.main-img {
    height: 50px;
    width: auto;
    margin-right: 50px;
}

.background-dark {
    background-color: #0E101D;
}

.yellow {
    color: #F4CA34;
}

.letter-spacing {
    letter-spacing: 1px;
}

.white {
    color: #fff;
}

.nav-look {
    color : white;
    font-weight: 600;
    text-transform: uppercase;
    padding: .5rem;
}

.nav-look:hover {
    color :#F4CA34;
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0E101D;
    color: white;
    text-align: center;
    font-weight: 500;
    padding: 10px;
}

.footer p {
    margin-bottom: 0;
}

.footer a {
    color: #F4CA34;
}

.main-container {
    margin: 50px;
    height: 70vh;
    padding: 3vh;
}

.main-container h1 {
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 1.8em;
}

.main-container p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 20px 0 30px;
}

.main-container span {
    font-size: 12px;
}

.main-container a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.main-container .container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(21, 24, 43, .2), 0 10px 10px rgba(21, 24, 43, .2);
    position: relative;
    overflow: hidden;
    width: 780px;
    max-width: 100%;
    min-height: 64vh;
}

.main-container .form-container form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding:  0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-container .form-container input {
    background: #eee;
    border: none;
    padding: 7px 8px;
    margin: 4px 0;
    color: #15182B;
    width: 100%;
}

.main-container button {
    font-family: "Dosis", "Montserrat",sans-serif;
    border-radius: 40px;
    border: 1px solid #F4CA34;
    background: #F4CA34;
    color: #fff;
    font-size: 1.3em;
    font-weight: 500;
    padding: 8px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top:25px;
}

.main-container button:active {
    transform: scale(.95);
}

.main-container button:focus {
    outline: none;
}

.main-container button.ghost {
    background: transparent;
    border-color: #fff;
}

.main-container button:hover {
    color: #15182B;
    transition: 1s;
}

.main-container .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.main-container .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.main-container .sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.main-container .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.main-container .overlay {
    background: #F4CA34;
    color: #15182B;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.main-container .overlay button.ghost {
    color: #15182B;
    border: 1px solid #15182B;
}

.main-container .overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.main-container .overlay-right {
    right: 0;
    transform: translateY(0);
}

.main-container .overlay-left {
    transform: translateY(-20%);
}

.main-container .container.right-panel-active .sign-in-container {
    transform: translateY(100%);
}

.main-container .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.main-container .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.main-container .container.right-panel-active .overlay {
    transform: translateX(50%);
}

.main-container .container.right-panel-active .overlay-left {
    transform: translateY(0);
}

.main-container .container.right-panel-active .overlay-right {
    transform: translateY(20%);
}

button {
    font-family: "Dosis", "Montserrat",sans-serif;
    border-radius: 20px;
    border: 1px solid #F4CA34;
    background: #F4CA34;
    color: #fff;
    font-size: 0.9em;
    font-weight: 500;
    padding: 2px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 5px;
}

button:active {
    transform: scale(.95);
}

button:focus {
    outline: none;
}

.button-big {
    font-size: 1.1em;
    padding: 5px 25px;
    margin: 10px;
}

table {
    background-color: #0E101D;
    font-size: 0.9em;
    font-weight: 300;
    color: #fff !important;
}

table th,
table td {
    border-top: 1px solid #15182B !important;
}

table th {
    color: #F4CA34;
    border-bottom: 1px solid #F4CA34 !important;
    text-align: center;
    letter-spacing: 2px;
    vertical-align: middle !important;
}

table td {
    border-right: 1px solid #15182B !important;
    vertical-align: middle !important;
}

.title {
    color : white;
    font-weight: 600;
    text-transform: uppercase;
    padding: .5rem;
    margin:30px auto 0 auto;
}

.back-to-top-link {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #F4CA34;
    color: #fff;
    position: fixed;
    bottom: 7vh;
    right: 2vw;
}

.back-to-top-link:hover {
    background-color: #fff;
    color: #F4CA34;
    text-decoration: none;
}

label {
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 0 !important;
}

#small-form {
    transform: scale(0.8);
}

.monitoring-card {
    color : #fff;
    width: 280px;
    border: 1px solid #0E101D;
    border-radius: 20px;
    background-color: #0E101D;
    height: 200px;
    margin: 25px 35px;
    text-align: center;
}

.monitoring-card div {
    background-color: #F4CA34;
    width: 310px;
    position: relative;
    top: 10px;
    right: 25px;
}

.monitoring-card div a {
    text-decoration: none;
}

.monitoring-card div a h2 {
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #0E101D;
    padding: 5px;
    position: relative;
    bottom: 95px;
}

.monitoring-card img {
    width: 160px;
    height: auto;
    position : relative;
    bottom : 90px;
    left: 100px;
}

.monitoring-card a {
    position: relative;
    bottom: 155px;
}

.monitoring-card p {
    text-align: left;
    margin: -5px auto 0 65px;
}

.notification {
    font-weight: 600;
    font-size: 0.6em;
    padding: 1px 7px 1px 7px !important;
    border-radius: 30px;
    position: relative;
    bottom:14px;
    right: 9px;
    margin-right: -17px;
}