{% extends "template_monitoring.html.twig" %}

{% block content %}
    <div class="main-container">
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form method="post">
                    <h1>Inscription</h1>
                    <input type="text" name="nickname_admin" placeholder="Nickname">
                    <input type="email" name="mail_admin" placeholder="Email">
                    <input type="password" name="pwd_admin" placeholder="Password">
                    <input type="password" name="password_verify" placeholder="Repeat your password">
                    <button type="submit" name="signup">Go !</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form method="post">
                    <h1>Connexion</h1>
                    <input type="text" name="nickname_admin" placeholder="Email">
                    <input type="password" name="pwd_admin" placeholder="Password">
                    <a href="#">Mot de passe oublié ?</a>
                    <button type="submit" name="signup">Go !</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Welcome back !</h1>
                        <p>Pour accéder au tableau de bord, c'est de ce coté !</p>
                        <button class="ghost" id="signIn">Connexion</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hey there !</h1>
                        <p>Envie d'avoir un oeil sur tout ce qui se passe ?</p>
                        <button class="ghost" id="signUp">Inscription</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}