{% extends "template_monitoring.html.twig" %}

{% block content %}

    <div class="container d-flex justify-content-around p-2 align-items-center align-self-center flex-wrap flex-row">
        {% for customer in allCustomer %}
            <div class="p-2 monitoring-card">
                <div>
                    <h2 class="">{{ customer.name_customer }} </h2>
                </div>
                <em class="">{{ customer.domain_customer }}</em>
                <p>{{ customer.test }}</p>
                <a href="?customer={{ customer.id_admin }}"><button>Voir les détails</button></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}